<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="parttime" class="com.factory.FactoryMethod"
	    factory-method="createStudentOfType">
	    <constructor-arg value="parttime" />
	</bean>
	 
	<bean id="fulltime" class="com.factory.FactoryMethod"
	    factory-method="createStudentOfType">
	    <constructor-arg value="fulltime" />
	</bean>
</beans>